<!-- <p>
  morpion works!
</p> -->
<div class="morpionGrid">

    <table>
      <tbody>
          <tr>
              <td (click)="checkValue(0,0)">{{morpionGame[0][0]}}</td>
              <td (click)="checkValue(0,1)">{{morpionGame[0][1]}}</td>
              <td (click)="checkValue(0,2)">{{morpionGame[0][2]}}</td>
          </tr>        
          <tr>
            <td (click)="checkValue(1,0)">{{morpionGame[1][0]}}</td>
            <td (click)="checkValue(1,1)">{{morpionGame[1][1]}}</td>
            <td (click)="checkValue(1,2)">{{morpionGame[1][2]}}</td>
          </tr>        
          <tr>
            <td (click)="checkValue(2,0)">{{morpionGame[2][0]}}</td>
            <td (click)="checkValue(2,1)">{{morpionGame[2][1]}}</td>
            <td (click)="checkValue(2,2)">{{morpionGame[2][2]}}</td>
          </tr>
      </tbody>
    </table>

</div>
